* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: auto;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0) 60%,
      rgb(49, 5, 5) 100%
    ),
    url(img/background3.jpg);
  background-repeat: repeat;
  background-position: top;
}

@keyframes pic-move {
  from {
    transform: translateX(10%) rotateY(-90deg);
  }
  to {
    transform: translateX(0%) rotateY(0deg);
  }
}

#portrait {
  display: flex;
  flex-wrap: wrap;
}

.portrait-img {
  display: flex;
  align-content: flex-end;
  width: 75%;
  margin: auto;
  height: 35vh;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 5vh;
}

.profile-img {
  position: relative;
  width: auto;
  height: 35vh;
  border-radius: 50%;
  border: 8px solid #d19b6c;
  z-index: 99;
  transition: ease-in-out 1s;
  transform: translateX(10%) rotateY(-90deg);
  animation: pic-move 1.5s ease-in-out 0.5s forwards;
  transform-origin: left;
}

.profile-img:hover {
  height: 38vh;
  width: auto;
}

.biography {
  position: relative;
  top: -10vh;
}

.portrait-text {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 45vw;
  height: auto;
  margin: auto;
  padding: 1rem;
  text-align: center;
}

.portrait-text h1,
h2,
p {
  padding: 0.5rem;
  color: #cbcccc;
}

.portrait-text h1 {
  /*font-size: 6rem;*/
  font-size: calc(25px + (60 - 25) * ((100vw - 300px) / (1600 - 300)));
  font-family: "Architects Daughter", cursive;
  text-shadow: 1px 1px 1px #d19b6c;
}
.portrait-text h2 {
  /*font-size: 4rem;*/
  font-size: calc(18px + (40 - 18) * ((100vw - 300px) / (1600 - 300)));
  font-family: "Architects Daughter", cursive;
  text-shadow: 1px 1px 1px #d19b6c;
}
.portrait-text p {
  /*font-size: 3rem;*/
  font-size: calc(18px + (30 - 18) * ((100vw - 300px) / (1600 - 300)));
  line-height: 1.3;
  font-family: "Caveat", cursive;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100vw;
  min-height: 10vh;
}

.socials-content {
  display: flex;
  width: 20vw;
  justify-content: space-around;
  align-content: flex-end;
  margin-right: 5vh;
  margin-top: 2vh;
}

.socials img {
  position: relative;
  width: 8vh;
  height: auto;
  border: 2px solid #d19b6c;
  border-radius: 50%;

  background: #ffffff;
  transition: 1s;
  opacity: 0.6;
  box-shadow: 2px 1px 1px #58402b;
}

.socials img:hover {
  opacity: 1;
  box-shadow: 2px 2px 2px #000000;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4vh;
  text-align: center;
}

.footer-text {
  color: #885339;
  font-size: 1.6rem;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  font-family: "Architects Daughter", cursive;
}

/* Media queries */

/*@media screen and (min-width: 1400px) and (max-width: 1700px) {
  .profile-img {
    left: 140vh;
    top: 20vh;
    width: 35vh;
  }

  .profile-img:hover {
    left: 145vh;
    width: 38vh;
  }

  .portrait-text {
    top: 40vh;
    left: 60vh;
    width: 85vh;
    padding: 0.5rem;
  }

  .portrait-text h1,
  h2,
  p {
    padding: 1rem;
  }

  .portrait-text h1 {
    font-size: 5rem;
  }
  .portrait-text h2 {
    font-size: 2.2rem;
  }

  .portrait-text p {
    font-size: 2.8rem;
    line-height: 1.3;
  }

  .socials img {
    width: 7vh;
  }

  .socials img:hover {
    width: 8vh;
  }

  .github {
    top: 2vh;
    left: 170vh;
  }

  .youtube {
    position: fixed;
    top: 2vh;
    left: 180vh;
  }

  .facebook {
    position: fixed;
    top: 2vh;
    left: 190vh;
  }

  .footer-text {
    font-size: 1.4rem;
  }
}
*/
